
<div class="row">
    <div class="col-md-12">
      <div class="card card-image firstimage mainImage" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">
        <div class="text-white text-center py-5 px-4 my-5">
          <div>
            <h1 class="card-title pt-3 mb-5 font-bold"><strong>Welcome to AX-BOT 🤖</strong></h1>
            <h4>Make AX-bot do the dirty Work.</h4>

            <!-- <form class="form-inline md-form mr-auto mb-4 searchButton " action="/artist" method="get">
              <label for="artistInput"></label>
            --><p class="clickMe" >Click Here 👉 <a class="btn draw-border nicebutton" href="/auth/twitter" style="padding : 14px">Twitter Sign in <img src="../images/twitter_logo_t.png" class="twitterLogo"alt=""></a> </p>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <nav class="navbar navbar-dark indigo">
      <form class="form-inline">
          <button class="btn btn-outline-success" type="button">Main button</button>
          <button class="btn btn-sm align-middle btn-outline-secondary" type="button">Smaller button</button>
      </form>
  </nav> -->
